
<% if session[:user_id] %>
  <p>Welcome <%= @user.fname %> <%= @user.lname %></p>

<% end %>

<%= link_to 'Post', pictures_new_path, class: 'btn btn-success btn-sm' %></br>

<% @post.each do |post| %>
  <%= post.name %></br>

<% end %>
