<nav class='navbar navbar-light bg-primary'>
  <div>
    <a href="/" class="badge text-white"><h2>Instagram</h2></a>
  </div>

  <div>
    <a href='/signup' class='btn btn-success btn-sm' role='button'>Sign Up</a>
    <a href='/destroy' class='btn btn-success btn-sm' role='button'>Log Out</a>
  </div>
</nav>